ARCHIVE_SERVER_URL=https://dashboard-kaekun.pythonanywhere.com
SYNC_API_TOKEN=
SYNC_CLIENT_NAME=ADMIN-PC
ARCHIVE_ROOT_DRIVE=Y:\공문자료
ARCHIVE_ROOT_UNC=\\회사파일서버\공용디스크\공문자료
LOCAL_TEMP_DIR=C:\ArchiveSync\temp
SYNC_INTERVAL_MINUTES=5

